In [34]:
import pandas as pd
import numpy as np
import re
import pycountry_convert as pc

- Bộ dữ liệu : Road traffic injuries
- Đơn vị tính: Estimated road traffic death rate (per 100 000 population)

In [35]:
data = pd.read_csv("Raw_data/RS_198.csv", header=[0, 1])

def extract_first_number(cell):
    match = re.match(r"([\d\.]+)", str(cell))  
    return float(match.group(1)) if match else cell  

data.iloc[:, 1:] = data.iloc[:, 1:].applymap(extract_first_number)

data.head()

C:\Users\phamn\AppData\Local\Temp\ipykernel_312\2209975950.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data.iloc[:, 1:] = data.iloc[:, 1:].applymap(extract_first_number)

                              Year        2019                      2018  \
  Countries, territories and areas  Both sexes  Male  Female  Both sexes
0                      Afghanistan        15.9  24.8     6.4        14.2
1                          Albania        11.7  17.6     5.5        11.0
2                          Algeria        20.9  28.1    13.6        21.0
3                           Angola        26.1  34.3    18.2        26.0
4              Antigua and Barbuda         0.0   0.0     0.0         0.0

                       2017                ...    2003        2002        \
   Male  Female  Both sexes  Male  Female  ...  Female  Both sexes  Male
0  22.7     5.3        15.1  23.8     6.0  ...     7.0        14.9  22.7
1  16.7     5.1        11.4  17.4     5.3  ...     6.4        14.5  22.5
2  28.1    13.6        21.0  28.2    13.7  ...    14.2        22.8  31.4
3  34.4    17.8        25.5  33.3    17.8  ...    22.2        25.4  29.0
4   0.0     0.0         0.0   0.0     0.0  ...     0.0         2.6   5.4

                 2001                      2000
   Female  Both sexes  Male  Female  Both sexes  Male  Female
0     6.7        15.1  23.0     6.7        14.7  22.3     6.6
1     6.3        14.5  22.5     6.3        14.3  22.4     6.1
2    14.0        22.7  31.3    13.8        22.5  31.2    13.6
3    21.8        25.2  28.4    22.0        25.1  27.9    22.3
4     0.0        13.0  25.6     1.8         9.2  16.3     2.9

[5 rows x 61 columns]

In [41]:


def get_continent(country):
    try:
        country_code = pc.country_name_to_country_alpha2(country)  
        continent_code = pc.country_alpha2_to_continent_code(country_code)  
        continent_mapping = {
            "AF": "Africa",
            "AS": "Asia",
            "EU": "Europe",
            "NA": "North America",
            "SA": "South America",
            "OC": "Oceania",
            "AN": "Antarctica"
        }
        return continent_mapping.get(continent_code, "Unknown")
    except:
        return "Unknown"

country_col = ('Year', 'Countries, territories and areas')

data[('', 'Continent')] = data[country_col].apply(get_continent)


continent_manual = {
    "Bolivia (Plurinational State of)": "South America",
    "Cote d'Ivoire": "Africa",
    "Iran (Islamic Republic of)": "Asia",
    "Micronesia (Federated States of)": "Oceania",
    "Netherlands (Kingdom of the)": "Europe",
    "Republic of Korea": "Asia",
    "Turkiye": "Asia",
    "Timor-Leste": "Asia",
    "Venezuela (Bolivarian Republic of)": "South America"
}

data[("", "Continent")] = data[("Year", "Countries, territories and areas")].map(continent_manual)

data.to_csv("Preprocessing_data/data.csv")
data

                                   Year        2019                      2018  \
       Countries, territories and areas  Both sexes  Male  Female  Both sexes
0                           Afghanistan        15.9  24.8     6.4        14.2
1                               Albania        11.7  17.6     5.5        11.0
2                               Algeria        20.9  28.1    13.6        21.0
3                                Angola        26.1  34.3    18.2        26.0
4                   Antigua and Barbuda         0.0   0.0     0.0         0.0
..                                  ...         ...   ...     ...         ...
178  Venezuela (Bolivarian Republic of)        39.0  66.1    12.7        38.2
179                            Viet Nam        30.6  47.8    13.3        29.2
180                               Yemen        29.4  39.4    19.1        28.4
181                              Zambia        20.5  30.8    10.3        20.5
182                            Zimbabwe        41.2  67.9    16.9        40.6

                         2017                ...        2002                \
     Male  Female  Both sexes  Male  Female  ...  Both sexes  Male  Female
0    22.7     5.3        15.1  23.8     6.0  ...        14.9  22.7     6.7
1    16.7     5.1        11.4  17.4     5.3  ...        14.5  22.5     6.3
2    28.1    13.6        21.0  28.2    13.7  ...        22.8  31.4    14.0
3    34.4    17.8        25.5  33.3    17.8  ...        25.4  29.0    21.8
4     0.0     0.0         0.0   0.0     0.0  ...         2.6   5.4     0.0
..    ...     ...         ...   ...     ...  ...         ...   ...     ...
178  64.7    12.4        37.8  64.0    12.1  ...        29.9  46.0    13.6
179  45.8    12.6        27.8  43.8    11.9  ...        24.3  38.5    10.4
180  37.9    18.8        27.5  37.1    17.7  ...        22.0  28.3    15.6
181  30.9    10.4        20.6  30.8    10.5  ...        26.9  38.5    15.5
182  66.8    16.8        40.1  65.7    16.7  ...        32.4  57.5     8.6

           2001                      2000
     Both sexes  Male  Female  Both sexes  Male  Female      Continent
0          15.1  23.0     6.7        14.7  22.3     6.6            NaN
1          14.5  22.5     6.3        14.3  22.4     6.1            NaN
2          22.7  31.3    13.8        22.5  31.2    13.6            NaN
3          25.2  28.4    22.0        25.1  27.9    22.3            NaN
4          13.0  25.6     1.8         9.2  16.3     2.9            NaN
..          ...   ...     ...         ...   ...     ...            ...
178        30.0  48.8    11.1        27.4  44.0    10.7  South America
179        24.2  38.1    10.5        24.1  37.9    10.6            NaN
180        22.0  28.2    15.6        21.9  28.0    15.7            NaN
181        27.2  38.6    16.0        27.4  38.3    16.6            NaN
182        29.7  53.2     7.4        29.3  52.7     6.9            NaN

[183 rows x 62 columns]